! {{ ansible_managed }}
! Configuration File for keepalived

global_defs {
    router_id           {{ ansible_hostname }}
{% if keepalived_notify_list is defined %}
    smtp_server {{ keepalived_notify_smtp_server }}
    smtp_connect_timeout {{ keepalived_notify_smtp_timeout }}
    notification_email_from {{ keepalived_notify_from }}
    notification_email {
{% for email in keepalived_notify_list %}
        {{ email }}
{% endfor %}
{% endif %}
{% for key, value in keepalived_global_defs.iteritems() %}
    {{ key }} {{ value }}
{% endfor %}
}
}

# Requires keepalived-1.1.13
{% if keepalived_checks is defined %}
{% for key, value in keepalived_checks.iteritems() %}
vrrp_script {{ key }} {
{% if value.script is defined %}
    script              "{{ value.script }}"
{% else %}
    script              "killall -0 {{ value.process }}"
{% endif %}
    interval            {{ value.period }}
    fall                2
    rise                5
}
{% endfor %}
{% endif %}

{% for key, value in keepalived_vrrp_instances.iteritems() %}
vrrp_instance {{ key }} {
    state               {{ keepalived_role[key] }}
    virtual_router_id   {{ value.virtual_router_id }}
{% if keepalived_role[key].lower() == "master" %}
    priority            {{ value.master_priority|default('100') }}
{% else %}
    priority            {{ value.slave_priority|default('50') }}
{% endif %}
    interface           {{ value.shared_iface }}
    advert_int          {{ keepalived_advert_interval|default('1') }}
    authentication {
        auth_type       PASS
        auth_pass       {{ value.auth_pass }}
    }
    virtual_ipaddress {
{% for v in value.shared_vips %}
        {{ v }} dev {{ value.shared_iface }} label {{ value.shared_iface }}:{{ value.virtual_router_id }}
{% endfor %}
    }
{% if value.checks is defined %}
    track_script {
{% for c in value.checks %}
        {{ c }}
{% endfor %}
    }
{% endif %}
{% for k, v in (value.settings | default({})).iteritems() %}
    {{ k }} {{ v }}
{% endfor %}
}
{% endfor %}
